In [3]:
import datetime

import numpy as np
import pandas as pd
import pandas_datareader as pdr  # IF NECESSARY, from terminal: pip install pandas_datareader
from numpy.random import default_rng

pd.set_option("display.max_rows", 10)  # display option for pandas
# more here: https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html

## A quick hit of Numpy

In [2]:
# create a random vector 
# every run of this --> diff #s
# see 3.2.2.2 in the textbook for why, 
# and how to prevent

rg = default_rng()
myray = rg.standard_normal(5)
print("myray:", myray)

myray: [-2.00205548  1.17511547 -0.3752814  -0.14520525  0.27782556]

In [6]:
# q1 - indexing, pick the odd elements
myray[::2] # grabs every other, starting at 0
myray[1::2] # grabs every other, starting at 1

array([ 1.17511547, -0.14520525])

Booleans arrays: Asking a logic test on an array, returns the array, where each element has been tested against that logic and converted to the boolean answer.

In [10]:
# q2 - (a) boolean array + (b) "masking"

# (a)
myray > 0

# (b)
mask = myray > 0 # store that boolean as a "mask"
myray[mask] # show the values for which the mask/filter is true

array([1.17511547, 0.27782556])

What you just learned about masking and filtering can be done with dataframes!

## The main event - Pandas

Vocab
- series
- index 
- dataframe
- columns and names
- rows and index 
- multiindex

In [11]:
start = datetime.datetime(2017, 1, 1) # you can specify start and end dates this way
end = datetime.datetime(2021, 1, 27)
macro_df = pdr.data.DataReader(['GDP','CPIAUCSL','UNRATE'], 'fred', start, end)

In [12]:
# preview the dataframe
macro_df

                  GDP  CPIAUCSL  UNRATE
DATE
2017-01-01  19280.084   243.618     4.7
2017-02-01        NaN   244.006     4.6
2017-03-01        NaN   243.892     4.4
2017-04-01  19438.643   244.193     4.4
2017-05-01        NaN   244.004     4.4
...               ...       ...     ...
2020-09-01        NaN   260.029     7.8
2020-10-01  22024.502   260.286     6.8
2020-11-01        NaN   260.813     6.7
2020-12-01        NaN   262.035     6.7
2021-01-01  22600.185   262.650     6.4

[49 rows x 3 columns]

In [13]:
# shape
macro_df.shape

(49, 3)

In [14]:
# variable types
macro_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 49 entries, 2017-01-01 to 2021-01-01
Freq: MS
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   GDP       17 non-null     float64
 1   CPIAUCSL  49 non-null     float64
 2   UNRATE    49 non-null     float64
dtypes: float64(3)
memory usage: 1.5 KB

In [21]:
# look at top X rows
macro_df.head(10) # bby default its 5

macro_df[:5]      # treat like a list (which rows are up to you)
macro_df[20:30:2] # list slicing works here too!

macro_df.iloc[10:20, -1:]  # [rows, cols] which rows and columns to look at?

            UNRATE
DATE
2017-11-01     4.2
2017-12-01     4.1
2018-01-01     4.0
2018-02-01     4.1
2018-03-01     4.0
2018-04-01     4.0
2018-05-01     3.8
2018-06-01     4.0
2018-07-01     3.8
2018-08-01     3.8

In [ ]:
# look at bottom X rows
macro_df.tail(8) # by default, 5

In [22]:
# grab one variable
macro_df['GDP']  # bracket, then name as string

DATE
2017-01-01    19280.084
2017-02-01          NaN
2017-03-01          NaN
2017-04-01    19438.643
2017-05-01          NaN
                ...
2020-09-01          NaN
2020-10-01    22024.502
2020-11-01          NaN
2020-12-01          NaN
2021-01-01    22600.185
Freq: MS, Name: GDP, Length: 49, dtype: float64

In [24]:
# grab two (or more) variables
macro_df[ ['GDP','UNRATE']   ]   # put a list of variable names inside!

                  GDP  UNRATE
DATE
2017-01-01  19280.084     4.7
2017-02-01        NaN     4.6
2017-03-01        NaN     4.4
2017-04-01  19438.643     4.4
2017-05-01        NaN     4.4
...               ...     ...
2020-09-01        NaN     7.8
2020-10-01  22024.502     6.8
2020-11-01        NaN     6.7
2020-12-01        NaN     6.7
2021-01-01  22600.185     6.4

[49 rows x 2 columns]

In [25]:
# see column names
macro_df.columns   # column names is an attribute

Index(['GDP', 'CPIAUCSL', 'UNRATE'], dtype='object')

In [ ]:
# change column names

#macro_df.rename(columns={...})             # rename one or many variables 
#macro_df.columns = ['var1','var2','var3']  # .column = [list of names], rename all vars

In [26]:
# see index
macro_df.index

DatetimeIndex(['2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01',
               '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01',
               '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01',
               '2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01',
               '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01',
               '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01',
               '2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
               '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
               '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01',
               '2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01',
               '2021-01-01'],
              dtype='datetime64[ns]', name='DATE', freq='MS')

In [31]:
# reset_index() and set_index()
macro_df.reset_index() # turns index into a variable

new_df = macro_df.reset_index()
new_df.set_index('DATE') # turns variable(s) into index

                  GDP  CPIAUCSL  UNRATE
DATE
2017-01-01  19280.084   243.618     4.7
2017-02-01        NaN   244.006     4.6
2017-03-01        NaN   243.892     4.4
2017-04-01  19438.643   244.193     4.4
2017-05-01        NaN   244.004     4.4
...               ...       ...     ...
2020-09-01        NaN   260.029     7.8
2020-10-01  22024.502   260.286     6.8
2020-11-01        NaN   260.813     6.7
2020-12-01        NaN   262.035     6.7
2021-01-01  22600.185   262.650     6.4

[49 rows x 3 columns]

In [32]:
# grab some rows (by position)

# did above - iloc[], or just df[]

In [36]:
# grab some rows (by value)
macro_df['UNRATE'] > 6    # compares 1 variable to 6
macro_df > 6              # compare all to 6

mask = macro_df['UNRATE'] > 6  
macro_df[mask]

                  GDP  CPIAUCSL  UNRATE
DATE
2020-04-01  19913.143   256.092    14.8
2020-05-01        NaN   255.868    13.2
2020-06-01        NaN   256.986    11.0
2020-07-01  21647.640   258.278    10.2
2020-08-01        NaN   259.411     8.4
2020-09-01        NaN   260.029     7.8
2020-10-01  22024.502   260.286     6.8
2020-11-01        NaN   260.813     6.7
2020-12-01        NaN   262.035     6.7
2021-01-01  22600.185   262.650     6.4

In [39]:
# create a variable
# (2 ways)

# df['newvarname'] = ....
macro_df['high'] = macro_df['UNRATE'] > 6
macro_df.assign(low = macro_df['UNRATE'] < 3  )

macro_df # it didn't create the "low" variable
#see 3.2.4 to understand why

# to "permanently save" it, add "df = " to it
macro_df = macro_df.assign(low = macro_df['UNRATE'] < 3  )
macro_df

                  GDP  CPIAUCSL  UNRATE   high    low
DATE
2017-01-01  19280.084   243.618     4.7  False  False
2017-02-01        NaN   244.006     4.6  False  False
2017-03-01        NaN   243.892     4.4  False  False
2017-04-01  19438.643   244.193     4.4  False  False
2017-05-01        NaN   244.004     4.4  False  False
...               ...       ...     ...    ...    ...
2020-09-01        NaN   260.029     7.8   True  False
2020-10-01  22024.502   260.286     6.8   True  False
2020-11-01        NaN   260.813     6.7   True  False
2020-12-01        NaN   262.035     6.7   True  False
2021-01-01  22600.185   262.650     6.4   True  False

[49 rows x 5 columns]

## EDA

Stop here. Back to the lecture. 

### Part 1

Q0: Do each of the [EDA golden rules for initial data exploration](https://ledatascifi.github.io/ledatascifi-2024/content/03/02e_eda_golden.html) and write down your observations.
- **Important: What is the "key" or "unit level" that observations in this database describes?** 
    - This is defined in 3.2.5 and discussed in [3.2.2.2 via example](https://ledatascifi.github.io/ledatascifi-2024/content/03/02b_pandasVocab.html#the-shape-of-data)
    - The "key" levels in databases we will look at are often increments of time in the data, the type of entity describe (e.g. firm, person, state, country, industry), and combinations of entity and time. 
    - E.g. "firm" level, "firm-year" level

Q1: What is the second series above?

Q2: What is the frequency of the series?

Q3: What is the average ANNUAL GDP, based on the data?

## Part 2

Q4: Download the annual *real* gdp from 1960 to 2018 from FRED and compute the average annual percent change

Q5: Compute the average gdp percent change within *each decade*

## Part 3

First, I'll load January data on unemployment, the Case-Shiller housing index, and median household income in three states (CA/MI/PA).

In [ ]:
# LOAD DATA AND CONVERT TO ANNUAL

start = 1990 # pandas datareader can infer these are years
end = 2018
macro_data = pdr.data.DataReader(['CAUR','MIUR','PAUR', # unemployment 
                                  'LXXRSA','DEXRSA','WDXRSA', # case shiller index in LA, Detroit, DC (no PA  available!)
                                  'MEHOINUSCAA672N','MEHOINUSMIA672N','MEHOINUSPAA672N'], #  
                                 'fred', start, end)
macro_data = macro_data.resample('Y').first() # get's the first observation for each variable in a given year

# CLEAN UP THE FORMATING SOMEWHAT

macro_data.index = macro_data.index.year
print("\n\n DATA BEFORE FORMATTING: \n\n")
print(macro_data[:20]) # see how the data looks now? ugly variable names, but its an annual dataset at least
macro_data.columns=pd.MultiIndex.from_tuples([
    ('Unemployment','CA'),('Unemployment','MI'),('Unemployment','PA'),
    ('HouseIdx','CA'),('HouseIdx','MI'),('HouseIdx','PA'),
    ('MedIncome','CA'),('MedIncome','MI'),('MedIncome','PA')
    ])
print("\n\n DATA AFTER FORMATTING: \n\n")
print(macro_data[:20]) # this is a dataset that is "wide", and now 
                       # the column variable names have 2 levels - var name, 
                       # and unit/state that variable applies to

Q6: for each decade and state, report the average annual CHANGE (level, not percent) in unemployment

Q7: for each decade and state, report the average annual PERCENT CHANGE in house prices and household income